.main-login {
  background: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.login-wrapper .ant-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap !important;
}

.main-login .login-right {
  background-color: #ffffff;
  padding: 80px 23px;
  width: 500px;
  max-width: 600px;
  height: max-content;
  border-radius: 10px;
  margin-right: auto;
  margin-left: 0;
}

.main-login .login-left {
  color: white !important;
  max-width: 500px;
  margin-left: auto;
  margin-right: 0;
}
.main-login .login-left > img {
  border-radius: 10px;
}

.main-login .anticon {
  border: 1px solid #ffffff;
  font-size: 23px;
  padding: 0px;
  border-radius: 12px;
}

.main-login h4 {
  color: white;
}

.login-right .ant-input-sm {
  border: 1px solid #00334e;
  padding: 10px;
}

.login-right .ant-input-affix-wrapper {
  border: 1px solid #00334e;
  padding: 10px;
}
.ant-col {
  position: relative !important;
}
.main-login .anticon {
  margin-right: 10px;
  border: none;
}

@media (max-width: 995px) {
  .main-login {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .ant-row-no-wrap {
    flex-wrap: wrap !important ;
  }
  .login-left {
    width: 80%;
    min-width: 300px;
    margin: auto !important;
  }
  .login-left > img {
    position: relative;
    height: 450px;
    object-position: center center;
    object-fit: cover;
  }
  .login-right {
    margin: auto !important;
    width: 80% !important;
    min-width: 280px;
    max-width: 90%;
    position: absolute;
    top: -200px;
    right: 0;
    padding: 23px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 300px) {
  .login-right {
    min-width: 240px;
  }
  .login-left {
    min-width: 250px;
  }
}
